

   <div class="row">
       <div class="col-lg-12 text-center">
           <h1 class="page-header">Login</h1>
       </div>
   </div>

   <div class="container">
                     <div  class="col-md-5 ">
                     <div class="panel panel-primary  ">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">Login Here</h3>
                      </div>
                      <div class="panel-body">

                      <form class="" action="" method="post">

                        <label for="username">Username</label>
                        <div class="form-group input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" name="username" class="form-control" value="">
                        </div>

                      <label for="password">password</label>
                      <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="text" name="password" class="form-control" value="">
                      </div>
                        <button type="submit" name="button" class="btn btn-primary btn-block btn-lg"> Login</button>
                      </form>
                      <br>
                       <p>Forget your password? <a>Reset password</a></p>
                       <p><a href="/users/register">Create Account</a></p>
                        </div>
                      </div>
                      </div>
                    </div>
