<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="page-header">Register</h1>
  </div>
</div>

<div class="container ">

  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Register here</h3>
    </div>
    <div class="panel-body">

     <div class="row">

        <div class="container col-md-3 img">
          <div class="img">
            <img src="/img/marketplace.png" alt="">
          </div>
        <hr>
        <input type="file" class="btn btn-success btn-block" name="" value="">
       </div>

       <hr>
       <br>


    <div class="col-md-6">

      <form action="/employee/register" method="post">

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" name="email" value="" placeholder="Enter Email">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"> <i class="fa fa-phone"></i></span>
          <input type="number" name="contact" class="form-control" value="" placeholder="Enter Contact">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
          <input type="text" name="address" class="form-control" value="" placeholder="Enter address">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" name="password"  class="form-control"value="" placeholder="Enter Password">
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" name="password1"  class="form-control"value="" placeholder="Confirm Password">
        </div>

          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
  </div>




     </div>

    </div>
  </div>

</div>
